ADMIN_USERNAME=girjaenterprise
ADMIN_PASSWORD=girjaenterprise123
AUTH_SECRET=fb16974b1d5743a2219b92e88952ff9d47ccf5ca896b555f027961b18e399023

# Optional Cloud KV Database (Upstash Redis or Vercel KV) for real-time shared persistence
# UPSTASH_REDIS_REST_URL=https://...upstash.io
# UPSTASH_REDIS_REST_TOKEN=...
